registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
@extensibility:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-ui-extensibility-release/
@adobe:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-platform-release/

